/* Fonts are loaded in layout.tsx via <link> tag for better performance */

.imageContainer::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 3;
  background-color: gray;
}

/* .custom-shape-divider-bottom-1674382091 .shape-fill {
  fill: #e40f0f;
} */

.image-wrapper {
  box-sizing: content-box;
}

.image-wrapper > span {
  border-radius: 8px;
}
