.wavyBackgroundTop {
  position: absolute;
  /* bottom: -69px; */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(-180deg);
}

.wavyBackgroundTop svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  /* height: 70px; */
  transform: rotateY(180deg);
}

.wavyBackgroundBottom {
  position: absolute;
  /* top: -69px; */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(-180deg); */
}

.wavyBackgroundBottom svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  /* height: 70px; */
  transform: rotateY(-180deg);
}
